#containingDiv {
    overflow: hidden;
}

.holder {
    position: absolute;
    top: 85px;
    left: 0px;
    right: 0px;
    bottom: 85px;
    overflow: hidden
}

html, body {
    height: 100%; /* to keep .footer on bottom */
    margin: 0; /* to get rid of scroll bar, because (100% + default margin = scroll) */
    background-color: grey;

}

.wrapper {
    min-height: 100%; /* to keep .footer on bottom */
    position: relative; /* must be relative or .footer will cover content */
}

.page {
    padding-bottom: 2.2em; /* MUST have padding on the bottom => .footer, or .footer will cover content */

}

.footerleft {
    position: relative;
    text-align: left;
    top: -50%;
    font-family: 'Audiowide', cursive;
    color: white;

}

.footerright {
    position: relative; /* to keep .footer on bottom */
    top: -100%;
    text-align: right;
    font-family: 'Audiowide', cursive;
    color: white;

}

.headertop {
    position: absolute;
    top: 0px;
    text-align: center;
    background-color: black;
    color: white;
    height: 84px;
    width: 100%;
    padding-bottom: 1px;
}

.bottom {
    position: absolute;
    text-align: center;
    background-color: black;
    bottom: 0px;
    color: white;
    height: 84px;
    width: 100%;
    padding-bottom: 1px;
}

.checkboxtop {
    position: relative;
    top: 25px;
    text-align: center;
    align: center;

}

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-width: 0 8px 8px 8px;
}

.h4 {
    font-family: 'Audiowide', cursive;
    font-size: 3.1em;
    color: red;
}

.bigbutton {
    padding-top: 10px;
    width: 20%;
    height: 60px;
}